#board {

    width: 400px;
    height: 400px;

    display: grid;

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    border-radius: 12px;
    overflow: hidden;

}


.square {

    position: relative;

    width: 100%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    overflow: hidden;

}


.piece {

    width: 85%;
    height: 85%;

    object-fit: contain;

    user-select: none;
    pointer-events: none;

}


.light {

    background: #f0d9b5;

}


.dark {

    background: #b58863;

}

.rank-label {

    position: absolute;

    top: 4px;
    left: 6px;

    font-size: 12px;
    font-weight: 600;

    opacity: 0.8;

}

.file-label {

    position: absolute;

    bottom: 4px;
    right: 6px;

    font-size: 12px;
    font-weight: 600;

    opacity: 0.8;

}
